doctype html
html 
    head 
        title Update Custom Object Form | Integrating With HubSpot I Practicum
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Update Custom Object Form | Integrating With HubSpot I Practicum
        .form-wrapper
            form(method="POST")
                label(for="petName") Pet Name
                input(type="text" name="petName" required)
                label(for="petType") Pet Type
                input(type="text" name="petType" required)
                label(for="petBio") Pet Bio
                textarea(name="petBio", cols="30", rows="10")
                input(type="submit" value="Submit")
        a(href="/") Return to the homepage